--
-- PostgreSQL database dump
--

\restrict G3YYj2HZSYfsVhdrgH1UxuvTsjUhccreHz8OaBpJCg5IlEOgqx9xYedg77Ketn2

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: attendance_record_tipo_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.attendance_record_tipo_enum AS ENUM (
    'IN',
    'OUT'
);


--
-- Name: cash_entry_type_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.cash_entry_type_enum AS ENUM (
    'INCOME',
    'EXPENSE'
);


--
-- Name: inventory_movement_type_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.inventory_movement_type_enum AS ENUM (
    'IN',
    'OUT'
);


--
-- Name: payroll_item_type_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.payroll_item_type_enum AS ENUM (
    'SALARY',
    'BONUS',
    'DEDUCTION'
);


--
-- Name: payroll_period_status_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.payroll_period_status_enum AS ENUM (
    'OPEN',
    'CLOSED'
);


--
-- Name: user_role_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.user_role_enum AS ENUM (
    'ADMIN',
    'USER'
);


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: attendance_record; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.attendance_record (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying NOT NULL,
    tipo public.attendance_record_tipo_enum NOT NULL,
    "timestamp" timestamp without time zone DEFAULT now() NOT NULL,
    note character varying
);


--
-- Name: attendances; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.attendances (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "userId" character varying NOT NULL,
    date date NOT NULL,
    "completedTasks" integer DEFAULT 0 NOT NULL,
    "totalTasks" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: cash_daily_summary; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.cash_daily_summary (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    date date NOT NULL,
    incomes numeric(12,2) DEFAULT '0'::numeric NOT NULL,
    expenses numeric(12,2) DEFAULT '0'::numeric NOT NULL,
    balance numeric(12,2) DEFAULT '0'::numeric NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "closedBy" character varying(255)
);


--
-- Name: cash_entry; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.cash_entry (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "entryDate" date NOT NULL,
    type public.cash_entry_type_enum NOT NULL,
    description text NOT NULL,
    amount numeric(12,2) NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "createdBy" character varying,
    "createdById" character varying,
    "createdByName" character varying
);


--
-- Name: cash_user_closure; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.cash_user_closure (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    date date NOT NULL,
    "userId" uuid NOT NULL,
    "closedAt" timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: customer; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.customer (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying NOT NULL,
    phone character varying,
    address character varying,
    ip_asignada character varying(50),
    latitud character varying,
    longitud character varying,
    status character varying DEFAULT 'active'::character varying NOT NULL,
    notes text,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL,
    "planId" uuid
);


--
-- Name: customer_conflict; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.customer_conflict (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying NOT NULL,
    address character varying,
    "ipAsignada" character varying,
    phone character varying,
    latitud numeric(10,6),
    longitud numeric(10,6),
    "planName" character varying,
    reason text,
    "rowData" jsonb,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: internal_debt; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.internal_debt (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "employeeName" character varying NOT NULL,
    description text NOT NULL,
    amount numeric(12,2) NOT NULL,
    balance numeric(12,2) NOT NULL
);


--
-- Name: internet_plan; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.internet_plan (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying NOT NULL,
    price numeric(12,2) DEFAULT '0'::numeric NOT NULL,
    speed character varying
);


--
-- Name: inventory_item; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.inventory_item (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    sku character varying NOT NULL,
    name character varying NOT NULL,
    category character varying NOT NULL,
    "minStock" integer DEFAULT 0 NOT NULL
);


--
-- Name: inventory_movement; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.inventory_movement (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    type public.inventory_movement_type_enum NOT NULL,
    quantity integer NOT NULL,
    note text NOT NULL,
    "timestamp" timestamp without time zone DEFAULT now() NOT NULL,
    "itemId" uuid
);


--
-- Name: inventory_stock; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.inventory_stock (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    quantity integer DEFAULT 0 NOT NULL,
    "itemId" uuid,
    "warehouseId" uuid
);


--
-- Name: loan; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.loan (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "employeeName" character varying NOT NULL,
    total numeric(12,2) NOT NULL,
    installments integer NOT NULL,
    balance numeric(12,2) NOT NULL
);


--
-- Name: message; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.message (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    content text NOT NULL,
    "createdAt" timestamp with time zone DEFAULT now() NOT NULL,
    read boolean DEFAULT false NOT NULL,
    "senderId" uuid NOT NULL,
    "recipientId" uuid NOT NULL
);


--
-- Name: payroll_accrual; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.payroll_accrual (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    date date NOT NULL,
    "userId" uuid NOT NULL,
    "userName" character varying,
    amount numeric(12,2) NOT NULL,
    description character varying DEFAULT 'Sueldo diario'::character varying NOT NULL,
    "cashClosureId" uuid,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: payroll_item; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.payroll_item (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    type public.payroll_item_type_enum NOT NULL,
    amount numeric(12,2) NOT NULL,
    "employeeName" character varying NOT NULL,
    "periodId" uuid
);


--
-- Name: payroll_period; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.payroll_period (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "startDate" date NOT NULL,
    "endDate" date NOT NULL,
    status public.payroll_period_status_enum DEFAULT 'OPEN'::public.payroll_period_status_enum NOT NULL
);


--
-- Name: task; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.task (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    title character varying NOT NULL,
    description text,
    status character varying DEFAULT 'PENDIENTE'::character varying NOT NULL,
    "telefonoContacto" character varying(50) NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL,
    "motivoObjecion" text,
    "comentarioFinal" text,
    "completedAt" timestamp with time zone,
    "proofUrl" text,
    "customerId" uuid NOT NULL,
    "assignedToId" uuid,
    "createdById" uuid
);


--
-- Name: user; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."user" (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    email character varying NOT NULL,
    password_hash character varying NOT NULL,
    role public.user_role_enum DEFAULT 'USER'::public.user_role_enum NOT NULL,
    name character varying,
    "dailySalary" numeric(12,2),
    latitude numeric(10,6),
    longitude numeric(10,6),
    "isBlocked" boolean DEFAULT false NOT NULL
);


--
-- Name: warehouse; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.warehouse (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying NOT NULL,
    location character varying
);


--
-- Data for Name: attendance_record; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.attendance_record (id, name, tipo, "timestamp", note) FROM stdin;
17631a62-0e3c-42be-ae48-8e6e7b7afa43	kelvin	IN	2025-11-03 03:34:34.820229	auto-login
\.


--
-- Data for Name: attendances; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.attendances (id, "userId", date, "completedTasks", "totalTasks", "createdAt") FROM stdin;
5d095f5c-f795-4658-b6a0-821cd2fa0929	8d2687e5-ad6f-415e-b763-17347d5b93d1	2025-11-03	1	1	2025-11-03 04:14:25.902228
\.


--
-- Data for Name: cash_daily_summary; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.cash_daily_summary (id, date, incomes, expenses, balance, "createdAt", "closedBy") FROM stdin;
b62658e3-11f8-4df6-a709-582bda0b6364	2025-11-01	0.00	0.00	0.00	2025-11-03 01:00:53.232044	system@auto-close
f55b43fb-dcec-46f4-bdf5-ca869dc0819e	2025-10-31	0.00	0.00	0.00	2025-11-03 01:00:53.289419	system@auto-close
99cb39bb-8d9f-4049-8daa-8b987ba8c188	2025-10-30	0.00	0.00	0.00	2025-11-03 01:00:53.320976	system@auto-close
\.


--
-- Data for Name: cash_entry; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.cash_entry (id, "entryDate", type, description, amount, "createdAt", "createdBy", "createdById", "createdByName") FROM stdin;
\.


--
-- Data for Name: cash_user_closure; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.cash_user_closure (id, date, "userId", "closedAt") FROM stdin;
\.


--
-- Data for Name: customer; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: customer_conflict; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.customer_conflict (id, name, address, "ipAsignada", phone, latitud, longitud, "planName", reason, "rowData", "createdAt") FROM stdin;
\.


--
-- Data for Name: internal_debt; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.internal_debt (id, "employeeName", description, amount, balance) FROM stdin;
\.


--
-- Data for Name: internet_plan; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.internet_plan (id, name, price, speed) FROM stdin;
2d87fe8f-d938-415c-b296-a0f99fd8aebb	Basico	0.00	\N
\.


--
-- Data for Name: inventory_item; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.inventory_item (id, sku, name, category, "minStock") FROM stdin;
0a64e8c6-981e-456a-a1d7-c41f8ee3cda8	SKU001	Laptop Dell XPS	Electronica	5
8db7c6c7-adf5-4be7-a108-4c9ffe898a44	SKU002	Monitor LG 24	Perifericos	10
89553b5a-e24e-4e3f-a2e9-b8c1991b6abf	SKU003	Teclado Mecanico	Perifericos	20
c8be493c-b99a-4cba-b401-fef92c7c0684	SKU004	Mouse Logitech	Perifericos	30
5c32d3b7-66e3-40a3-b6c9-d6640ed9596b	SKU005	Cable HDMI	Accesorios	50
\.


--
-- Data for Name: inventory_movement; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.inventory_movement (id, type, quantity, note, "timestamp", "itemId") FROM stdin;
\.


--
-- Data for Name: inventory_stock; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.inventory_stock (id, quantity, "itemId", "warehouseId") FROM stdin;
\.


--
-- Data for Name: loan; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.loan (id, "employeeName", total, installments, balance) FROM stdin;
\.


--
-- Data for Name: message; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.message (id, content, "createdAt", read, "senderId", "recipientId") FROM stdin;
\.


--
-- Data for Name: payroll_accrual; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.payroll_accrual (id, date, "userId", "userName", amount, description, "cashClosureId", "createdAt") FROM stdin;
\.


--
-- Data for Name: payroll_item; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.payroll_item (id, type, amount, "employeeName", "periodId") FROM stdin;
\.


--
-- Data for Name: payroll_period; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.payroll_period (id, "startDate", "endDate", status) FROM stdin;
\.


--
-- Data for Name: task; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.task (id, title, description, status, "telefonoContacto", "createdAt", "updatedAt", "motivoObjecion", "comentarioFinal", "completedAt", "proofUrl", "customerId", "assignedToId", "createdById") FROM stdin;
ef0fcd2e-9fa0-4e85-abac-3e495861a82c	revisar	kelvin	COMPLETADA	12345678	2025-11-03 04:13:24.567757	2025-11-03 04:14:25.617026	\N	hey	\N	\N	76f41451-10cf-46ea-b74a-f27d0bf9683c	8d2687e5-ad6f-415e-b763-17347d5b93d1	9c59e165-0fb8-409f-a9e7-a790e96b88fc
\.


--
-- Data for Name: user; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."user" (id, email, password_hash, role, name, "dailySalary", latitude, longitude, "isBlocked") FROM stdin;
9c59e165-0fb8-409f-a9e7-a790e96b88fc	admin@internetperla.com	$2a$10$/uFVDxhdBjMKLrXDrUv1HuCLeOZSJyGZ39w6FkUFwUkEQc23rzNli	ADMIN	Administrador	\N	\N	\N	f
8d2687e5-ad6f-415e-b763-17347d5b93d1	kelvin@example.com	$2a$10$rNPwGGe8PK3CLcb7VvFQk.2kKA6DOPsKJl7qVxMxpmLAbaD6FhkpO	USER	kelvin	\N	14.591945	-90.482321	f
\.


--
-- Data for Name: warehouse; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.warehouse (id, name, location) FROM stdin;
\.


--
-- Name: customer_conflict PK_07a52659466240efb3e034743a4; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.customer_conflict
    ADD CONSTRAINT "PK_07a52659466240efb3e034743a4" PRIMARY KEY (id);


--
-- Name: cash_entry PK_28d2866e9d2a10e6e80e3e08944; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cash_entry
    ADD CONSTRAINT "PK_28d2866e9d2a10e6e80e3e08944" PRIMARY KEY (id);


--
-- Name: cash_user_closure PK_465c44f6fef9c45421111af35dc; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cash_user_closure
    ADD CONSTRAINT "PK_465c44f6fef9c45421111af35dc" PRIMARY KEY (id);


--
-- Name: attendances PK_483ed97cd4cd43ab4a117516b69; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.attendances
    ADD CONSTRAINT "PK_483ed97cd4cd43ab4a117516b69" PRIMARY KEY (id);


--
-- Name: loan PK_4ceda725a323d254a5fd48bf95f; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.loan
    ADD CONSTRAINT "PK_4ceda725a323d254a5fd48bf95f" PRIMARY KEY (id);


--
-- Name: internet_plan PK_566d2983bdec6097934fd2de8c8; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.internet_plan
    ADD CONSTRAINT "PK_566d2983bdec6097934fd2de8c8" PRIMARY KEY (id);


--
-- Name: internal_debt PK_5a442b214166ef3e2cbbb8f1df7; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.internal_debt
    ADD CONSTRAINT "PK_5a442b214166ef3e2cbbb8f1df7" PRIMARY KEY (id);


--
-- Name: cash_daily_summary PK_89c8433a2ca958c636680e78572; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cash_daily_summary
    ADD CONSTRAINT "PK_89c8433a2ca958c636680e78572" PRIMARY KEY (id);


--
-- Name: payroll_period PK_8a0c30dd9f1de6a0886a1cec58d; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payroll_period
    ADD CONSTRAINT "PK_8a0c30dd9f1de6a0886a1cec58d" PRIMARY KEY (id);


--
-- Name: inventory_item PK_94f5cbcb5f280f2f30bd4a9fd90; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inventory_item
    ADD CONSTRAINT "PK_94f5cbcb5f280f2f30bd4a9fd90" PRIMARY KEY (id);


--
-- Name: warehouse PK_965abf9f99ae8c5983ae74ebde8; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.warehouse
    ADD CONSTRAINT "PK_965abf9f99ae8c5983ae74ebde8" PRIMARY KEY (id);


--
-- Name: inventory_stock PK_a13d56d2087e6d9eb3d480395bf; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inventory_stock
    ADD CONSTRAINT "PK_a13d56d2087e6d9eb3d480395bf" PRIMARY KEY (id);


--
-- Name: customer PK_a7a13f4cacb744524e44dfdad32; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.customer
    ADD CONSTRAINT "PK_a7a13f4cacb744524e44dfdad32" PRIMARY KEY (id);


--
-- Name: payroll_item PK_ae8b88eba40683e8751fedbfec8; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payroll_item
    ADD CONSTRAINT "PK_ae8b88eba40683e8751fedbfec8" PRIMARY KEY (id);


--
-- Name: message PK_ba01f0a3e0123651915008bc578; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.message
    ADD CONSTRAINT "PK_ba01f0a3e0123651915008bc578" PRIMARY KEY (id);


--
-- Name: attendance_record PK_c23131acc63826e373019447965; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.attendance_record
    ADD CONSTRAINT "PK_c23131acc63826e373019447965" PRIMARY KEY (id);


--
-- Name: user PK_cace4a159ff9f2512dd42373760; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT "PK_cace4a159ff9f2512dd42373760" PRIMARY KEY (id);


--
-- Name: payroll_accrual PK_df8f92791331b95e60deb46e07e; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payroll_accrual
    ADD CONSTRAINT "PK_df8f92791331b95e60deb46e07e" PRIMARY KEY (id);


--
-- Name: inventory_movement PK_e17362693c889da517444ad8fb5; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inventory_movement
    ADD CONSTRAINT "PK_e17362693c889da517444ad8fb5" PRIMARY KEY (id);


--
-- Name: task PK_fb213f79ee45060ba925ecd576e; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.task
    ADD CONSTRAINT "PK_fb213f79ee45060ba925ecd576e" PRIMARY KEY (id);


--
-- Name: payroll_accrual UQ_59f3f392aab5c14f8b7fead82d2; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payroll_accrual
    ADD CONSTRAINT "UQ_59f3f392aab5c14f8b7fead82d2" UNIQUE (date, "userId");


--
-- Name: cash_user_closure UQ_7866d2cf567d6f956a1ebc56adb; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cash_user_closure
    ADD CONSTRAINT "UQ_7866d2cf567d6f956a1ebc56adb" UNIQUE (date, "userId");


--
-- Name: cash_daily_summary UQ_795a64866fd5d120317b7fc21b9; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cash_daily_summary
    ADD CONSTRAINT "UQ_795a64866fd5d120317b7fc21b9" UNIQUE (date);


--
-- Name: inventory_stock UQ_be8986fdd0c2fb712307b7d93cb; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inventory_stock
    ADD CONSTRAINT "UQ_be8986fdd0c2fb712307b7d93cb" UNIQUE ("itemId", "warehouseId");


--
-- Name: inventory_item UQ_d6ea8a96077963efdebaa65044b; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inventory_item
    ADD CONSTRAINT "UQ_d6ea8a96077963efdebaa65044b" UNIQUE (sku);


--
-- Name: internet_plan UQ_da08b1184b176bda1c0c30d993f; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.internet_plan
    ADD CONSTRAINT "UQ_da08b1184b176bda1c0c30d993f" UNIQUE (name);


--
-- Name: user UQ_e12875dfb3b1d92d7d7c5377e22; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT "UQ_e12875dfb3b1d92d7d7c5377e22" UNIQUE (email);


--
-- Name: IDX_096e4007200c954159af33d5e4; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_096e4007200c954159af33d5e4" ON public.payroll_accrual USING btree ("userId");


--
-- Name: IDX_4c746c6970a8f4c4a69ecd1be7; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_4c746c6970a8f4c4a69ecd1be7" ON public.cash_user_closure USING btree ("userId");


--
-- Name: IDX_de2ae63fa734349edc1f4cc72d; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_de2ae63fa734349edc1f4cc72d" ON public.payroll_accrual USING btree ("cashClosureId");


--
-- Name: idx_message_recipient; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_message_recipient ON public.message USING btree ("recipientId");


--
-- Name: idx_message_sender; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_message_sender ON public.message USING btree ("senderId");


--
-- Name: inventory_stock FK_17281050097303e6eb2e6d1b493; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inventory_stock
    ADD CONSTRAINT "FK_17281050097303e6eb2e6d1b493" FOREIGN KEY ("warehouseId") REFERENCES public.warehouse(id);


--
-- Name: task FK_2997f01b00a9dc7d7fec2db89ae; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.task
    ADD CONSTRAINT "FK_2997f01b00a9dc7d7fec2db89ae" FOREIGN KEY ("customerId") REFERENCES public.customer(id);


--
-- Name: message FK_445b786f516688cf2b81b8981b6; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.message
    ADD CONSTRAINT "FK_445b786f516688cf2b81b8981b6" FOREIGN KEY ("recipientId") REFERENCES public."user"(id) ON DELETE CASCADE;


--
-- Name: payroll_item FK_4ed5bbd6e158ef8e4729eb1ecac; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payroll_item
    ADD CONSTRAINT "FK_4ed5bbd6e158ef8e4729eb1ecac" FOREIGN KEY ("periodId") REFERENCES public.payroll_period(id);


--
-- Name: task FK_91d76dd2ae372b9b7dfb6bf3fd2; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.task
    ADD CONSTRAINT "FK_91d76dd2ae372b9b7dfb6bf3fd2" FOREIGN KEY ("createdById") REFERENCES public."user"(id) ON DELETE SET NULL;


--
-- Name: inventory_movement FK_b9ba0949238f66bb2c705f8f4dd; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inventory_movement
    ADD CONSTRAINT "FK_b9ba0949238f66bb2c705f8f4dd" FOREIGN KEY ("itemId") REFERENCES public.inventory_item(id);


--
-- Name: message FK_bc096b4e18b1f9508197cd98066; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.message
    ADD CONSTRAINT "FK_bc096b4e18b1f9508197cd98066" FOREIGN KEY ("senderId") REFERENCES public."user"(id) ON DELETE CASCADE;


--
-- Name: customer FK_bef979870f348ce52beddd76c75; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.customer
    ADD CONSTRAINT "FK_bef979870f348ce52beddd76c75" FOREIGN KEY ("planId") REFERENCES public.internet_plan(id);


--
-- Name: inventory_stock FK_c96bbf7243692ed474f2f1e7053; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inventory_stock
    ADD CONSTRAINT "FK_c96bbf7243692ed474f2f1e7053" FOREIGN KEY ("itemId") REFERENCES public.inventory_item(id);


--
-- Name: task FK_fd5f652e2fcdc4a5ab30aaff7a7; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.task
    ADD CONSTRAINT "FK_fd5f652e2fcdc4a5ab30aaff7a7" FOREIGN KEY ("assignedToId") REFERENCES public."user"(id) ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict G3YYj2HZSYfsVhdrgH1UxuvTsjUhccreHz8OaBpJCg5IlEOgqx9xYedg77Ketn2

